@import '../base';

mat-toolbar{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    z-index: 9999;
    position: sticky;
    top: 0;
    font-family: $heading2-font;
    li, a, button {
        font-size: 1.2rem;
        text-decoration: none;
        color: $main-color;
        // border: 2px solid red;
    }
    ul{
        list-style: none;
        margin: 0 20px;
        li{
            display: inline-block;
            padding: 0 20px;
            a{
                transition: all 0.3s ease 0s;
                outline: none;
            }
            a:hover{
                opacity: 0.5;
            }
            .profile-icon{
                position: relative;

                margin-right: 20px;
            }
            .material-icons{
                position: absolute;
                bottom: 0;
            }
        }

    }
    ul:nth-of-type(2) {
        margin-left: -155px;
    }
    #first {ul { display: none; }}
    #first:hover > ul {
        display: block;
    }
}
