@import '../base';

.outer_container{
    display: flex;
}
.left_panel{
    width: 20%;
    height: calc(100vh - 65px);
    background-color: $white;
    padding: 20px;
    padding-bottom: 100px;

    .question_no_links{
        height: 100%;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        align-items: flex-start;
        justify-content: center;

        button{
            flex: 0 0 30px;
            width: 30px;
            height: 30px;
            margin: 5px;
            border-radius: 50%;
            border: 1px solid $dark-grey;
            background-color: $white;
            color: $dark-grey;
        }

        button:hover{
            border: 1px solid $main-color;
            color: $main-color;
        }
        
    }

}
.quiz_container{
    width: 80%;
}














































// .outer_container{
//     display: flex;
// }
// .side_panel{
//     width: 25vw;

//     .question_no_links{
//         margin: 200px auto;
//         display: flex;
//         flex-flow: row wrap;
//         align-content: flex-end;    
//         align-items: flex-start;
//         min-width:155px;
//         max-width:155px;
//         width: 155px;
//         border: 1px solid $main-color;
//         border-radius: 10px;
//         background-color: $white;
//     }

//     button{
//         flex: 0 0 30px;
//         width: 30px;
//         height: 30px;
//         margin: 10px;
//         border-radius: 50%;
//         border: 1px solid $main-color;
//         background-color: $white;
//     }
//     button:hover{
//         opacity: 0.5;
//     }
//     button:active{
//         background-color: $main-color;
//         color: $white;
//     }
// }
// .container{
//     position: absolute;
//     min-height: calc(100vh - 65px);
//     height: fit-content;
//     margin: 0 calc(100vw - 75%);
//     width: 50vw;
//     background-color: $white;
//     padding: 40px;
//     //z-index: -1;
//     text-align: center;

//     h1{
//         font-weight: bold;
//         color: $main-color;
//     }

//     p{
//         text-align: left;
//     }

//     .options{
//         text-align: left;
//         z-index: +9999;
//         ::ng-deep .mat-ripple-element{
//             background-color: $main-color;
//         }

//     }

//     button{
//         margin-left: 20px;
//         background-color: $main-color;
//         color: $white;
//     }
// }
