@import '../base';

.container{
    min-height: calc(100vh - 70px);
    height: fit-content;
    width: 50%;
    margin: 0 auto;
    background-color: $white;
    padding: 40px;
    z-index: -1;
    text-align: center;

    h1{
        font-weight: bold;
        color: $main-color;
    }

    p{
        text-align: left;
    }

    .options{
        text-align: left;

        ::ng-deep .mat-ripple-element{
            background-color: $main-color;
        }

    }

    button{
        margin-left: 20px;
        background-color: $main-color;
        color: $white;
    }
}




