@import '../base';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.outer_container{
    display: flex;
}
.left_panel{
    width: 15%;
    height: calc(100vh - 65px);
    background-color: $white;
    padding: 15px;
    padding-bottom: 100px;

    .question_no_links{
        height: 100%;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        align-items: flex-start;
        justify-content: center;

        button{
            flex: 0 0 30px;
            width: 30px;
            height: 30px;
            margin: 5px;
            border-radius: 50%;
            border: 1px solid $dark-grey;
            background-color: $white;
            color: $dark-grey;
            outline: none;
        }

        button:hover{
            border: 1px solid $main-color;
            color: $main-color;
        }
        
    }

}
.quiz_container{
    width: 85%;
    padding: 0 50px;
    padding-right: 150px;
    .question_container{
        margin: 50px auto;
        
        p{
            color: $text-color;
            font-size: 1.7rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            line-height: 2.4rem;
        }

        .options{
            margin: 50px  0;
            display: flex;
            flex-flow: row wrap;

            input{
                // visibility: hidden;
                display: none;
            }
            .inputGroup {
                margin: 25px;
            }

            label {
                background-color: #fff;
                display: inline-block;
                padding: 10px 5px;
                padding-right: 20px;
                text-align: left;
                color: #000;
                cursor: pointer;
                position: relative;
                border-radius: 500px;
                border: 1px solid $white;
                min-width: 400px;
                max-width: max-content;
                // width: 100%;
                font-size: 1.05rem;
                vertical-align: middle;

                svg{
                    height: 2rem;
                    position: relative;
                    vertical-align: middle;
                    margin-right: 10px;

                }
            }
            
            input:checked ~ label{
                color: $main-color;
                border: 1px solid $main-color;
                
                .svg_alpha, .svg_circle {fill: $main-color;}
            }
        }

    }

    button{
        margin-top: 100px;
        height: 100px;
        width: 100px;
        outline: none;
        border: none;
        background-repeat: no-repeat;
        background-color: rgba($color: #000000, $alpha: 0);
        background-image: url("icon-left.svg");
        cursor: pointer;
    }
    button:hover{
        opacity: 0.5;
    }
    #next_button{
        float: right;
        background-image: url("icon-right.svg");

    }


}














































// .outer_container{
//     display: flex;
// }
// .side_panel{
//     width: 25vw;

//     .question_no_links{
//         margin: 200px auto;
//         display: flex;
//         flex-flow: row wrap;
//         align-content: flex-end;    
//         align-items: flex-start;
//         min-width:155px;
//         max-width:155px;
//         width: 155px;
//         border: 1px solid $main-color;
//         border-radius: 10px;
//         background-color: $white;
//     }

//     button{
//         flex: 0 0 30px;
//         width: 30px;
//         height: 30px;
//         margin: 10px;
//         border-radius: 50%;
//         border: 1px solid $main-color;
//         background-color: $white;
//     }
//     button:hover{
//         opacity: 0.5;
//     }
//     button:active{
//         background-color: $main-color;
//         color: $white;
//     }
// }
// .container{
//     position: absolute;
//     min-height: calc(100vh - 65px);
//     height: fit-content;
//     margin: 0 calc(100vw - 75%);
//     width: 50vw;
//     background-color: $white;
//     padding: 40px;
//     //z-index: -1;
//     text-align: center;

//     h1{
//         font-weight: bold;
//         color: $main-color;
//     }

//     p{
//         text-align: left;
//     }

//     .options{
//         text-align: left;
//         z-index: +9999;
//         ::ng-deep .mat-ripple-element{
//             background-color: $main-color;
//         }

//     }

//     button{
//         margin-left: 20px;
//         background-color: $main-color;
//         color: $white;
//     }
// }
