<div class="fab" (click)="toggleFab()">
    <div class="action">
        <!-- <span class="material-icons">add</span> -->
        <span class="material-icons" id="add">more_vert</span>
        <span class="material-icons" id="remove" style="display: none;">close</span>
    </div>
    <div class="btns">
        <a class="btn" (click)="onPress()" matTooltip="Let's Plan"
        [matTooltipPosition]="'left'">
            <span class="material-icons">menu_book</span>
        </a>
        <a class="btn" routerLink="/Quiz"  matTooltip="Let's Quiz"
        [matTooltipPosition]="'left'">
            <span class="material-icons">question_answer</span>
        </a>
        <a class="btn" routerLink="/ContactUs"  matTooltip="QNA"
        [matTooltipPosition]="'left'">
            <span class="material-icons">help_outline</span>

        </a>
    </div>
</div>
<div id="comp-render" *ngIf="display">
    <!-- <button class="close-modal">quit</button> -->
    <!-- <app-planning></app-planning> -->
    <div class="plan-cont" id="myModal">
        <div class="modal-content">
            <button (click)="onPress()" class="close-btn"><Span class="material-icons">close</Span></button>
            <h1>Plan your Schedule</h1>
            <p class="headings first">Introduction</p>
            <div class="topic">
                <div class="subtopic">
                    <p>Classes and objects</p>
                    <input placeholder="Enter No of Days" type="number" min="0">
                </div>
            </div>
            <hr>
            <p class="headings second">Classes Methods</p>
            <div class="topic">
                <div class="subtopic">
                    <p>Methods</p>
                    <input placeholder="Enter No of Days" type="number" min="0">
                </div>
                <div class="subtopic"> 
                    <p>Overloading</p>
                    <input placeholder="Enter No of Days" type="number" min="0">
                </div>
                <div class="subtopic"> 
                    <p>Overriding</p>
                    <input placeholder="Enter No of Days" type="number" min="0">
                </div>
            </div>
            <hr>
            <p class="headings third">Advanced Concepts </p>
            <div class="topic">
                <div class="subtopic">
                    <p>Inheritance</p>
                    <input placeholder="Enter No of Days" type="number" min="0">
                </div>
                <div class="subtopic"> 
                    <p>Polymorphism</p>
                    <input placeholder="Enter No of Days" type="number" min="0">
                </div>
            </div>
            <hr>
            <h3>Total Days: 10</h3>
        </div>
    </div>
</div>