@import '../base';

.fab{
    position: fixed;
    right: 10px;
    top: 80px;
}
.action{
    background-color: $main-color;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 3px 5px 0 gray;
    color: $white;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: all 0.3s;
    span{
        position: absolute;
        //color: $white;
        // left: 20%;
        // top: 20%;
        transform: translate(30%, 30%);
        font-size: 2rem;
        cursor: pointer;
    }
}
.action:hover{
    background-color: $white;
    color: $main-color;
}

.btns{
    position: absolute;
    top: 0;
    margin-top: 10px;
    height: 45px;
    width: 45px;
    transform: translateX(10%);
    transition: 0.3s ease-in-out;
    z-index: -1;
}

.btns.open{
    top: 50px;
}
.btn{
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: $main-color;
    color: $white;
    border: 0;
    outline: 0;
    cursor: pointer;
    span{
        position: absolute;
        font-size: 1.2rem;
        //left: 50%;
        //bottom: 50%;
        transform: translate(55%, 55%);

    }
}
.btn:hover{
    background-color: $white;
    color: $main-color;
    box-shadow: 0 3px 5px 0 gray;
}
::ng-deep .mat-tooltip {
    /* your own custom styles here */ 
    /* e.g. */
    color: white;
    background-color: $main-color;
    font-family: $heading2-font;
    font-weight: 300;
    font-size: 0.9em;
}

.plan-cont{
    position: fixed; /* Stay in place */
    z-index: 9999999999999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

.modal-content {
    background-color: #ffffff;
    margin: auto;
    // padding: 20px;
    // border: 1px solid #888;
    // border: none;
    width: 36%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    .header{
        padding: 20px;
        background-color: $main-color;
        color: $white;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        .close-btn{
            color: $white;
            float: right;
            border: none;
            outline: none;
            cursor: pointer;
            background-color: transparent;
            span{
                font-size: 34px;
            }

            &:hover{
                span{
                    color: red;
                }
            }
        }

        h1{
            text-align: center;
            font-size: 30px;
            font-family: $sub-heading-font;
            font-weight: 600;
            margin: 0;
            margin-left: 15px;
        }
    }
    .content{
        margin: 20px;
        h3{
            margin: 10px auto 0;
            font-weight: 600;
            text-align: center;
            font-family: $sub-heading-font;
            ;
        }
        hr{
            border-top: 1px solid $bg;
        }
        .headings{
            font-weight: 500;
            font-size: 1rem;
        }
        .second, .third{
            margin-top: 10px;
        }
        .topic{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin:  20px auto 10px;
            .subtopic{
                
                p{
                    margin: 0;
                }

                input{
                    padding: 5px;
                    border-radius: 4px;
                    outline: none;
                    border: 1px solid $main-color;   
                }
                input[type=number] {
                    -moz-appearance: textfield;
                }
                input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }

            .history-data{
                margin-top: 5px !important;
            }
            .hide{
                display: none;
            }
        }
        mat-slide-toggle{
            float: right;
        }
        .mat-slide-toggle.mat-checked .mat-slide-toggle-bar{
            background-color: $bg !important;
        }

          .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb{
            background-color: $main-color !important;
        }
          
    }

    .footer{
        
        button{
            padding: 15px;
            cursor: pointer;
            width: 100%;
            height: 100%;
            background-color: $main-color;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            color: $white;
            font-family: $sub-heading-font;
            font-size: 1.5rem;
            outline: none;
            border: none;
        }
    }
}