<app-header></app-header>

<div class="outer_container">

  <div class="left_panel" id="mySidebar">
    <button class="open-sidebar" id="open-sidebar"  (click)="togglesidebar()">
      <span id="arrow-Close" class="material-icons">keyboard_arrow_left</span>
      <span id="arrow-Open" style="display: none;" class="material-icons">keyboard_arrow_right</span>
    </button>
    <div class="question_no_links" id="question_no_links">
      <!-- <button class="" id="question_no_link" (click)="goToClickedQuestion(count)" style="display: inline-block;">{{count+1}}</button> -->
      <!-- button#question_no_link$*52{$} -->
      <button id="question_no_link1"  (click)="goToClickedQuestion(1)">1</button>
      <button id="question_no_link2"  (click)="goToClickedQuestion(2)">2</button>
      <button id="question_no_link3"  (click)="goToClickedQuestion(3)">3</button>
      <button id="question_no_link4"  (click)="goToClickedQuestion(4)">4</button>
      <button id="question_no_link5"  (click)="goToClickedQuestion(5)">5</button>
      <button id="question_no_link6"  (click)="goToClickedQuestion(6)">6</button>
      <button id="question_no_link7"  (click)="goToClickedQuestion(7)">7</button>
      <button id="question_no_link8"  (click)="goToClickedQuestion(8)">8</button>
      <button id="question_no_link9"  (click)="goToClickedQuestion(9)">9</button>
      <button id="question_no_link10" (click)="goToClickedQuestion(10)">10</button>
      <button id="question_no_link11" (click)="goToClickedQuestion(11)">11</button>
      <button id="question_no_link12" (click)="goToClickedQuestion(12)">12</button>
      <button id="question_no_link13" (click)="goToClickedQuestion(13)">13</button>
      <button id="question_no_link14" (click)="goToClickedQuestion(14)">14</button>
      <button id="question_no_link15" (click)="goToClickedQuestion(15)">15</button>
      <button id="question_no_link16" (click)="goToClickedQuestion(16)">16</button>
      <button id="question_no_link17" (click)="goToClickedQuestion(17)">17</button>
      <button id="question_no_link18" (click)="goToClickedQuestion(18)">18</button>
      <button id="question_no_link19" (click)="goToClickedQuestion(19)">19</button>
      <button id="question_no_link20" (click)="goToClickedQuestion(20)">20</button>
      <button id="question_no_link21" (click)="goToClickedQuestion(21)">21</button>
      <button id="question_no_link22" (click)="goToClickedQuestion(22)">22</button>
      <button id="question_no_link23" (click)="goToClickedQuestion(23)">23</button>
      <button id="question_no_link24" (click)="goToClickedQuestion(24)">24</button>
      <button id="question_no_link25" (click)="goToClickedQuestion(25)">25</button>
      <button id="question_no_link26" (click)="goToClickedQuestion(26)">26</button>
      <button id="question_no_link27" (click)="goToClickedQuestion(27)">27</button>
      <button id="question_no_link28" (click)="goToClickedQuestion(28)">28</button>
      <button id="question_no_link29" (click)="goToClickedQuestion(29)">29</button>
      <button id="question_no_link30" (click)="goToClickedQuestion(30)">30</button>
      <button id="question_no_link31" (click)="goToClickedQuestion(31)">31</button>
      <button id="question_no_link32" (click)="goToClickedQuestion(32)">32</button>
      <button id="question_no_link33" (click)="goToClickedQuestion(33)">33</button>
      <button id="question_no_link34" (click)="goToClickedQuestion(34)">34</button>
      <button id="question_no_link35" (click)="goToClickedQuestion(35)">35</button>
      <button id="question_no_link36" (click)="goToClickedQuestion(36)">36</button>
      <button id="question_no_link37" (click)="goToClickedQuestion(37)">37</button>
      <button id="question_no_link38" (click)="goToClickedQuestion(38)">38</button>
      <button id="question_no_link39" (click)="goToClickedQuestion(39)">39</button>
      <button id="question_no_link40" (click)="goToClickedQuestion(40)">40</button>
      <button id="question_no_link41" (click)="goToClickedQuestion(41)">41</button>
      <button id="question_no_link42" (click)="goToClickedQuestion(42)">42</button>
      <button id="question_no_link43" (click)="goToClickedQuestion(43)">43</button>
      <button id="question_no_link44" (click)="goToClickedQuestion(44)">44</button>
      <button id="question_no_link45" (click)="goToClickedQuestion(45)">45</button>
      <button id="question_no_link46" (click)="goToClickedQuestion(46)">46</button>
      <button id="question_no_link47" (click)="goToClickedQuestion(47)">47</button>
      <button id="question_no_link48" (click)="goToClickedQuestion(48)">48</button>
      <button id="question_no_link49" (click)="goToClickedQuestion(49)">49</button>
      <button id="question_no_link50" (click)="goToClickedQuestion(50)">50</button>
      <button id="question_no_link51" (click)="goToClickedQuestion(21)">51</button>
      <button id="question_no_link52" (click)="goToClickedQuestion(52)">52</button>


      <!-- <button id="question_no_link2" (click)="select(1)" class="question_no_button">2</button>
      <button id="question_no_link3" (click)="select(2)" class="question_no_button">3</button>
      <button id="question_no_link4" (click)="select(3)" class="question_no_button">4</button>
      <button id="question_no_link5" class="question_no_button">5</button>
      <button id="question_no_link6" class="question_no_button">6</button>
      <button id="question_no_link7" class="question_no_button">7</button>
      <button id="question_no_link8" class="question_no_button">8</button>
      <button id="question_no_link9" class="question_no_button">9</button>
      <button id="question_no_link10" class="question_no_button">10</button>
      <button id="question_no_link11" class="question_no_button">11</button>
      <button id="question_no_link12" class="question_no_button">12</button>
      <button id="question_no_link13" class="question_no_button">13</button>
      <button id="question_no_link14" class="question_no_button">14</button>
      <button id="question_no_link15" class="question_no_button">15</button>
      <button id="question_no_link16" class="question_no_button">16</button>
      <button id="question_no_link17" class="question_no_button">17</button>
      <button id="question_no_link18" class="question_no_button">18</button>
      <button id="question_no_link19" class="question_no_button">19</button>
      <button id="question_no_link20" class="question_no_button">20</button>
      <button id="question_no_link21" class="question_no_button">21</button>
      <button id="question_no_link22" class="question_no_button">22</button>
      <button id="question_no_link23" class="question_no_button">23</button>
      <button id="question_no_link24" class="question_no_button">24</button>
      <button id="question_no_link25" class="question_no_button">25</button>
      <button id="question_no_link26" class="question_no_button">26</button>
      <button id="question_no_link27" class="question_no_button">27</button>
      <button id="question_no_link28" class="question_no_button">28</button>
      <button id="question_no_link29" class="question_no_button">29</button>
      <button id="question_no_link30" class="question_no_button">30</button> -->

    </div>
  </div>

  <div class="questionnaire" id="main">
      <div class="question" #questionContainer>
        <h2 class="question__heading">Question {{ currentQuestionIndex + 1 }}</h2>
        <div class="question__q">{{ question?.questionText }}</div>
        <div class="question__answers" #answer>
          <div *ngFor="let answer of question.options;let count=index">
            <div *ngIf="keyExist(currentQuestionIndex,count)!=-1; else elseBlock1">
              <div class="answer selected" #answerr (click)="onSelect(count)">
                <p>{{ answer?.text }}</p>
              </div>
            </div>
            <ng-template #elseBlock1>
              <div class="answer" #answerr (click)="onSelect(count)">
                <p>{{ answer?.text }}</p>
              </div>
            </ng-template>
          </div>
          
        </div>
      </div>
      <div class="actions" #actions>
        <button class="previous" (click)="prev()">
          <svg class="icon icon-back">
            <use href="./assets/icons.svg#icon-chevron-left"></use>
          </svg>
        </button>
        <!-- <button class="next" (click)="goToNextQuestion()">Next</button> -->
        <button id="submitSelfAssesment" class="submit" (click)="Submit()">Submit</button>
        <button class="previous right" (click)="goToNextQuestion()">
          <svg class="icon icon-back">
            <use href="./assets/icons.svg#icon-chevron-left"></use>
          </svg>
        </button>
      </div>
      <div class="progress__bar">
        <div #slider class="progress__bar--slider"></div>
      </div>
      <div class="progress__actions" #progress>
        <div class="p-actions-left">
          <span>Question {{ currentQuestionIndex + 1 }}</span>
          <span>Out Of</span>
          <span>{{ questions.length }}</span>
        </div>
        <div class="p-actions-right">
          <span>{{ pv }}%</span>
        </div>
      </div>
  </div>
  <!-- <div>
    <button (click)="Submit()">Submit</button>
  </div> -->

</div>