@import '../base';

.icon{
    width: 20px;
    height: 20px;
}
.outer_container{
    display: flex;
    background-color: #f3faff6e;
}

.questionnaire{
    display: flex;
    flex-direction: column;
    // padding: 20px;
    // margin-top: 4%;
    margin: 5% auto 0;    

    .question{
        display: grid;
        grid-template-rows: repeat(3, min-content);
        grid-row-gap: 20px;

        &__heading{
            font-size: 35px;
            justify-self: center;
            font-weight: bolder;
            font-family: $heading-font;
        }
        
        &__q{
            justify-self: center;
            font-family: $content-font;
            font-size: 25px;
        }

        &__answers{
            display: grid;
            grid-template-columns: repeat(auto-fit,200px);
            justify-content: center;
            .answer{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 15px;
                background-color: $white;
                border: 2px solid $bg;
                color: black;
                height: 140px;
                cursor: pointer;
                border-radius: 15px;
                transition: all 0.3s;
                font-size: 20px;
            }
            .answer.selected{
                background-color: $main-color;
                color: $white;

            }
        }
    }

    .actions{
        display: flex;
        justify-content: center;
        margin: 10px 0;
        gap: 15px;

        button.previous{
            background-color: $white;
            // height: 28px;
            padding: 5px 8px;
            outline: none;
            border-radius: 5px;
            border: 1px solid $bg;
            cursor: pointer;
             .icon-back{
                 width: 25px;
                 height: 25px;
                 fill: $main-color;
             }
        }

        button.submit{
            // height: 28px;
            font-family: $content-font;
            font-size: large;
            // margin-left: 10px;
            background-color: $main-color;
            color: $white;
            padding: 5px 60px;
            outline: none;
            border-radius: 5px;
            border: 0;
            cursor: pointer;
        }
        .right{
            transform:rotate(180deg);
        }

        svg{
            margin-top: 4px;
        }
    }

}

.progress{
    
    &__bar{
        margin: 40px 0;
        height: 20px;
        background: $bg;
        overflow: hidden;
        border-radius: 10px;
        width: 400px;
        align-self: center;

        &--slider{
        height: inherit;
        width: 0%;
        background-color: $main-color;
        border-radius: 10px;
        transition: all .5s ease-in-out;
        }
    }

    &__actions{
        display: flex;
        justify-content: space-between;
        width: 400px;
        align-self: center;
        color: $dark-grey;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 13px;

        .p-actions-left{
            span:nth-child(2){
                margin: 0 5px;
            }
        }

    }
}

.left_panel{
    display: flex;
    position: relative;
    align-items: flex-start;
    width: 18%;
    min-height: calc(100vh - 65px);
    height: auto;
    background-color: $white;
    padding: 15px;
    border-right: 1px solid $bg;
    padding-top: 100px;
    transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
    .question_no_links{
        //height: 100%;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        align-items: flex-start;
        justify-content: center;

        button{
            flex: 0 0 30px;
            width: 30px;
            height: 30px;
            margin: 5px;
            border-radius: 50%;
            border: 1px solid $dark-grey;
            background-color: $white;
            color: $dark-grey;
            outline: none;
            font-family: $content-font;
            cursor: pointer;
        }

        .active{
            background-color: $main-color;
            border: 1px solid $main-color;
            color: $white;
        }
        .done{
            background-color: $bg;
            border: 1px solid $bg;
            color: $main-color;
        }

        button:hover{
            border: 1px solid $main-color;
            color: $main-color;
        }
        
    }

}

#arrow-Open{
    position: absolute;
    top: 13px;
    left: 21px;
}
#arrow-Close{
    position: absolute;
    top: 13px;
    left: 12px;
}
.open-sidebar{
    top: 250px;
    height: 50px;
    width: 50px;
    border: 0;
    border-radius: 100px;
    color: $white;
    background-color: $main-color;
    cursor: pointer;
    right: -26px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
    transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
    z-index: 999;
    position: absolute;
    border: 0;
    outline: 0;
}
.open-sidebar:hover{
    background-color: $white;
    color: $main-color;
}