@import 'base';

$main-color: #0079D7;
$white : #ffffff;
mat-toolbar{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
    z-index: 1;
    position: relative;
    li, a, button {
        font-size: 1.2rem;
        text-decoration: none;
        color: $main-color;
    }
    ul{
        list-style: none;
        li{
            display: inline-block;
            padding: 0 20px;
            a{
                transition: all 0.3s ease 0s;
                outline: none;
            }
            a:hover{
                opacity: 0.5;
            }

        }

    }
}

