<mat-toolbar role="heading">
  <ul>
    <!-- <li><a href="/">Home</a></li> -->
    <!-- <li><a href="#Activity">Activity</a></li>
        <li><a href="#Login">Login</a></li> -->
    <li><a routerLink="/Home" routerlinkActive="active">Home</a></li>
    <li><a routerLink="/Quiz">Quiz</a></li>
    <li><a routerLink="/ContactUs">Contact</a></li>
    <li *ngIf="!auth.isLoggedIn()"><a routerLink="/Register">Register</a></li>
    <li *ngIf="!auth.isLoggedIn()"><a routerLink="/Login">Login</a></li>
    <li *ngIf="auth.isLoggedIn()"><a routerLink="/Logout" (click)="auth.logout()">Logout</a></li>
  </ul>
</mat-toolbar>
<router-outlet></router-outlet>