<div>
  <label id="1" (click)="updatePdfName(1)">1.pdf</label><br>
  <label id="2" (click)="updatePdfName(2)">compressed.tracemonkey-pldi-09.pdf</label><br>
  <label id="3" (click)="updateVideoName(3)">Video1</label><br>
  <button (click)="draggable()">Draggable</button>
</div>

<div id="mydiv">
  <div id="mydivheader">Click here to move</div>
  <iframe id="videoFrame" style="width: 600px; height: 260px;" src="">
  </iframe>
</div>
<br><br>
<iframe id="Frame" src="http://localhost:8085/htmldigilocker" draggable="true" title="description">
</iframe>