<app-header></app-header>


<!-- Menu Start -->
<button mat-button [matMenuTriggerFor]="topic" class="my_menu" id="open-sidebar">
  <span id="arrow-Close" style="display: none;" class="material-icons">keyboard_arrow_left</span>
  <span id="arrow-Open" class="material-icons">keyboard_arrow_right</span>
</button>
<!-- <button mat-button [matMenuTriggerFor]="topic" class="my_menu">Topics</button> -->
<!-- Main Topics -->
<mat-menu #topic="matMenu" class="topic">
  <span class="material-icons close-but">close</span>
  <button mat-menu-item class="menu-heading">Topics</button>
  <button mat-menu-item [matMenuTriggerFor]="ico" class="first-menu">Introduction of Classes and Objects</button>
  <button mat-menu-item [matMenuTriggerFor]="cobm" class="first-menu">Classes and Objects: Method</button>
  <button mat-menu-item [matMenuTriggerFor]="acoop" class="first-menu">Advanced concept of OOPs</button>
</mat-menu>
<!-- First Subtopic -->
<mat-menu #ico="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="co">Classes and Objects</button>
</mat-menu>

<mat-menu #co="matMenu">
  <button class="mat_but" mat-menu-item ><span class="material-icons mat_icon">quiz</span>Quiz</button>
  <button class="mat_but" (click)="updatePdfName(1)" mat-menu-item><span class="material-icons mat_icon">picture_as_pdf</span>Pdf Materials</button>
  <button class="mat_but" (click)="updateVideoName(3)" mat-menu-item><span class="material-icons mat_icon">play_circle_outline</span>Video1</button>
</mat-menu>

<!-- Second Subtopic -->
<mat-menu #cobm="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="cm">Classes Methods</button>
  <button mat-menu-item [matMenuTriggerFor]="mol">Method Overloading</button>
  <button mat-menu-item [matMenuTriggerFor]="mor">Method Overriding</button>
</mat-menu>

<mat-menu #cm="matMenu">
  <button class="mat_but" mat-menu-item ><span class="material-icons mat_icon">quiz</span>Quiz</button>
  <button class="mat_but" id="2" (click)="updatePdfName(2)" mat-menu-item><span class="material-icons mat_icon">picture_as_pdf</span>Pdf Materials</button>
  <button class="mat_but" id="3" mat-menu-item><span class="material-icons mat_icon">play_circle_outline</span>Video Materials</button>
</mat-menu>


<mat-menu #mol="matMenu">
  <button class="mat_but" mat-menu-item ><span class="material-icons mat_icon">quiz</span>Quiz</button>
  <button class="mat_but" mat-menu-item><span class="material-icons mat_icon">picture_as_pdf</span>Pdf Materials</button>
  <button class="mat_but" mat-menu-item><span class="material-icons mat_icon">play_circle_outline</span>Video Materials</button>
</mat-menu>

<mat-menu #mor="matMenu">
  <button class="mat_but" mat-menu-item ><span class="material-icons mat_icon">quiz</span>Quiz</button>
  <button class="mat_but" mat-menu-item><span class="material-icons mat_icon">picture_as_pdf</span>Pdf Materials</button>
  <button class="mat_but" mat-menu-item><span class="material-icons mat_icon">play_circle_outline</span>Video Materials</button>
</mat-menu>

<!-- Third Subtopic -->
<mat-menu #acoop="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="in">Inheritance</button>
  <button mat-menu-item [matMenuTriggerFor]="poly">Polymorphism</button>
</mat-menu>

<mat-menu #in="matMenu">
  <button class="mat_but" mat-menu-item ><span class="material-icons mat_icon">quiz</span>Quiz</button>
  <button class="mat_but" mat-menu-item><span class="material-icons mat_icon">picture_as_pdf</span>Pdf Materials</button>
  <button class="mat_but" mat-menu-item><span class="material-icons mat_icon">play_circle_outline</span>Video Materials</button>
</mat-menu>

<mat-menu #poly="matMenu">
  <button class="mat_but" mat-menu-item ><span class="material-icons mat_icon">quiz</span>Quiz</button>
  <button class="mat_but" mat-menu-item><span class="material-icons mat_icon">picture_as_pdf</span>Pdf Materials</button>
  <button class="mat_but" mat-menu-item><span class="material-icons mat_icon">play_circle_outline</span>Video Materials</button>
</mat-menu>

<!-- Menu Over -->
<div class="container-1">
  <!-- <h1>Here are some helpful materials to study</h1> -->
  <br>
  <h2>Topic: Classes and objects</h2>
</div>

<!-- <div>
  <label id="1" (click)="updatePdfName(1)">1.pdf</label><br>
  <label id="2" (click)="updatePdfName(2)">compressed.tracemonkey-pldi-09.pdf</label><br>
  <label id="3" (click)="updateVideoName(3)">Video1</label><br>
</div> -->

<div id="mydiv">
  <mat-slide-toggle id="draggable" (change)="onToggle($event)">Draggable</mat-slide-toggle>
  <div id="mydivheader">Click here to move</div>
  <iframe id="videoFrame" style="width: 900px; height: 400px;" src="">
  </iframe>
</div>
<br><br>
<!-- <iframe id="Frame" src="http://localhost:8085/htmldigilocker" draggable="true" title="description">
</iframe> -->
<div class="cont">
  <div class="action-bar">
    <div class="col">
      <p><span>Total Pages: <span [innerHTML]="pdfPageNumber"></span>/<span [innerHTML]="totalPages"></span></span></p>
      <input type="number" max={{totalPages}} min="0" id="page_no" placeholder="Page No" (input)="jumpPagePdf($event)">
    </div>
    <div class="col">
      <button matTooltip="Previous page" (click)="Previous()"><span class="material-icons">arrow_back_ios</span></button>
      <button matTooltip="Zoom in" (click)="zoomIn()"><span class="material-icons">zoom_in</span></button>
      <button matTooltip="Reset zoom" (click)="resetZoom()"><span class="material-icons">zoom_out_map</span></button>
      <button matTooltip="Rotate page" (click)=rotate()><span class="material-icons">rotate_right</span></button>
      <button matTooltip="Next page" (click)="Next()"><span class="material-icons">arrow_forward_ios</span></button>
    </div>
  </div>
  <pdf-viewer [src]="pdfSource"
              [original-size]="false"
              [show-all]="false"
              [(page)]="pdfPageNumber"
              [zoom]="zoomPdf"
              [rotation]="rotationPdf"
              (after-load-complete)="afterLoadComplete($event)">
  </pdf-viewer>
</div>

<!-- <app-sidebar></app-sidebar> -->
<app-fab></app-fab>
