<app-header></app-header>


<!-- Menu Start -->
<button mat-button [matMenuTriggerFor]="topic" class="my_menu" id="open-sidebar">
  <span id="arrow-Close" style="display: none;" class="material-icons">keyboard_arrow_left</span>
  <span id="arrow-Open" class="material-icons">keyboard_arrow_right</span>
</button>
<!-- <button mat-button [matMenuTriggerFor]="topic" class="my_menu">Topics</button> -->
<!-- Main Topics -->
<mat-menu #topic="matMenu" class="topic">
  <span class="material-icons close-but">close</span>
  <button mat-menu-item class="menu-heading">Topics</button>
  <button mat-menu-item [matMenuTriggerFor]="ico" class="first-menu">Introduction of Classes and Objects</button>
  <button mat-menu-item [matMenuTriggerFor]="cobm" class="first-menu">Classes and Objects: Method</button>
  <button mat-menu-item [matMenuTriggerFor]="acoop" class="first-menu">Advanced concept of OOPs</button>
</mat-menu>
<!-- First Subtopic -->
<mat-menu #ico="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="co">Classes and Objects</button>
</mat-menu>

<mat-menu #co="matMenu">
  <button class="mat_but" mat-menu-item ><span class="material-icons mat_icon">quiz</span>Quiz</button>
  <button class="mat_but" (click)="updatePdfName(1)" mat-menu-item><span class="material-icons mat_icon">picture_as_pdf</span>Pdf Materials</button>
  <button class="mat_but" (click)="updateVideoName(3)" mat-menu-item><span class="material-icons mat_icon">play_circle_outline</span>Video1</button>
</mat-menu>

<!-- Second Subtopic -->
<mat-menu #cobm="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="cm">Classes Methods</button>
  <button mat-menu-item [matMenuTriggerFor]="mol">Method Overloading</button>
  <button mat-menu-item [matMenuTriggerFor]="mor">Method Overriding</button>
</mat-menu>

<mat-menu #cm="matMenu">
  <button class="mat_but" mat-menu-item ><span class="material-icons mat_icon">quiz</span>Quiz</button>
  <button class="mat_but" id="2" (click)="updatePdfName(2)" mat-menu-item><span class="material-icons mat_icon">picture_as_pdf</span>Pdf Materials</button>
  <button class="mat_but" id="3" mat-menu-item><span class="material-icons mat_icon">play_circle_outline</span>Video Materials</button>
</mat-menu>


<mat-menu #mol="matMenu">
  <button class="mat_but" mat-menu-item ><span class="material-icons mat_icon">quiz</span>Quiz</button>
  <button class="mat_but" mat-menu-item><span class="material-icons mat_icon">picture_as_pdf</span>Pdf Materials</button>
  <button class="mat_but" mat-menu-item><span class="material-icons mat_icon">play_circle_outline</span>Video Materials</button>
</mat-menu>

<mat-menu #mor="matMenu">
  <button class="mat_but" mat-menu-item ><span class="material-icons mat_icon">quiz</span>Quiz</button>
  <button class="mat_but" mat-menu-item><span class="material-icons mat_icon">picture_as_pdf</span>Pdf Materials</button>
  <button class="mat_but" mat-menu-item><span class="material-icons mat_icon">play_circle_outline</span>Video Materials</button>
</mat-menu>

<!-- Third Subtopic -->
<mat-menu #acoop="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="in">Inheritance</button>
  <button mat-menu-item [matMenuTriggerFor]="poly">Polymorphism</button>
</mat-menu>

<mat-menu #in="matMenu">
  <button class="mat_but" mat-menu-item ><span class="material-icons mat_icon">quiz</span>Quiz</button>
  <button class="mat_but" mat-menu-item><span class="material-icons mat_icon">picture_as_pdf</span>Pdf Materials</button>
  <button class="mat_but" mat-menu-item><span class="material-icons mat_icon">play_circle_outline</span>Video Materials</button>
</mat-menu>

<mat-menu #poly="matMenu">
  <button class="mat_but" mat-menu-item ><span class="material-icons mat_icon">quiz</span>Quiz</button>
  <button class="mat_but" mat-menu-item><span class="material-icons mat_icon">picture_as_pdf</span>Pdf Materials</button>
  <button class="mat_but" mat-menu-item><span class="material-icons mat_icon">play_circle_outline</span>Video Materials</button>
</mat-menu>

<!-- Menu Over -->

<div>
  <label id="1" (click)="updatePdfName(1)">1.pdf</label><br>
  <label id="2" (click)="updatePdfName(2)">compressed.tracemonkey-pldi-09.pdf</label><br>
  <label id="3" (click)="updateVideoName(3)">Video1</label><br>
</div>

<div id="mydiv">
  <mat-slide-toggle id="draggable" (change)="onToggle($event)">Draggable</mat-slide-toggle>
  <div id="mydivheader">Click here to move</div>
  <iframe id="videoFrame" style="width: 900px; height: 400px;" src="">
  </iframe>
</div>
<br><br>
<iframe id="Frame" src="http://localhost:8085/htmldigilocker" draggable="true" title="description">
</iframe>

<!-- <app-sidebar></app-sidebar> -->
<app-fab></app-fab>