@import '../base';

#Frame{
  width: 60%;
  min-height: 100vh; 
  // position: absolute; 
  border: none;
  margin-left: 20%;
}
#mydiv {
    position: relative;
    z-index: 9;
    // background-color: #f1f1f1;
    // border: 1px solid #d3d3d3;
    text-align: center;
    margin: 0 auto;
    width: 900px;
    height: 400px;
  
    #mydivheader {
      display: none;
      padding: 10px;
      cursor: move;
      z-index: 10;
      background-color: $main-color;
      color: $white;

    }
}

// Toggle Switch
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: blue; /*replace with your color*/
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: skyblue;  /*replace with your color*/
}

/* CSS to change 'Primary' color */

::ng-deep .mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: green;
}

::ng-deep .mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #ff99ff;
}

/* CSS to change 'Warn' color */

::ng-deep .mat-slide-toggle.mat-warn.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: red;
}

::ng-deep .mat-slide-toggle.mat-warn.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #ffe066;
}

.my_menu{
  position: absolute;
  top: 250px;
  left: -25px;
  color: $white;
  background-color: $main-color;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border: 0;
  border-radius: 99999999999px !important;
  box-shadow: 0 0 6px 0 rgba(0,0,0,.5) !important;
  transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  z-index: 999;
  outline: 0;
  min-width: 0 !important;
  line-height: 0 !important;
  padding-left: 20px !important;
}
.mat_icon{
  position: absolute;
  top: 12px;
  left: 16px;
  color: $main-color;
}
.mat_but{
  padding-left: 48px !important;
}
.topic > .mat-menu-content {
  background-color: white !important;
  height: 100% !important;
  position: fixed !important;
  top: 65px !important;
  z-index: 0 !important;
  transition: all .2s ease-in-out !important;
  box-shadow: 0 5px 6px 0 rgba(0,0,0,.5) !important;

}

.mat-menu-panel.topic {
   overflow: hidden;
}

.cdk-overlay-container{
  position: fixed !important;
  top: 0 !important;
}

.mat-elevation-z4{
  box-shadow: none !important;
  background-color: transparent !important;
}