<main>
    <div class="box1 box">
        <div class="card-big">
            <h1>MetaCognition</h1>
            <button>Know More</button>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam voluptatum cupiditate molestias? Amet explicabo temporibus error adipisci laborum atque nemo.
            </p>
            <div class="social-icons">
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </div>
        </div>
    </div>
    <div class="box2 box" routerLink="/Studyroom">
        <div class="card">
            <span class="material-icons">menu_book</span>
            <h2>Studyroom</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam molestias ea pariatur rem ipsam id?</p>
        </div>
        
    </div>
    <div class="box3 box" routerLink="/Login">
        <div class="card">
            <span class="material-icons">account_circle</span>            <!-- <img src="../../assets/potrait.png" alt="Image"> -->
            <!-- <div class="user one"></div> -->
            <h2>Afif Shaikh</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam molestias ea pariatur rem ipsam id?</p>
        </div>

    </div>
    <div class="box4 box" routerLink="/Login">
        <div class="card">
            <span class="material-icons">equalizer</span>
            <h2>Report</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam molestias ea pariatur rem ipsam id?</p>
        </div>

    </div>
    <div class="box5 box" routerLink="/Topics">
        <div class="card">
            <span class="material-icons">question_answer</span>
            <h2>Quiz</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam molestias ea pariatur rem ipsam id?</p>
        </div>

    </div>
</main>
<!-- <app-fab></app-fab>
<app-sidebar></app-sidebar>  -->