@import '../base';

.container{
    min-height: calc(100vh - 70px);
    height: fit-content;
    width: 50%;
    margin: 0 auto;
    padding: 40px;
    color: $main-color;
    background-color: $white;
    z-index: -1;
    text-align: justify;
    font-size: 1rem;
}
.heading{
    font-size: 2rem;
}
.para-one{
    margin-top: 4rem;
    font-size: 1.2rem;
}
.paras{
    margin: 2rem 2rem auto;
    line-height: 2rem;
}