@import '../base';

.container{
    min-height: calc(100vh - 70px);
    height: fit-content;
    width: 50%;
    margin: 0 auto;
    padding: 40px;
    color: $main-color;
    background-color: $white;
    z-index: -1;
    text-align: justify;
    font-size: 1rem;
}