<app-header></app-header>
<div class="container">
    <h1>Start Learning OOPS Concepts</h1>

    <div class="topics">
        <p>Introduction of Classes and Objects</p>
        <div class="row">
            <div class="col">
                <p>Classes and Objects</p> <br>
                <button>Start<span class="material-icons">arrow_right_alt</span></button>
            </div>
        </div>
    </div>
    <div class="topics">
        <p>Classes and Objects: Method</p>
        <div class="row">
            <div class="col"><p>Classes Methods</p> <br>               
                <button>Start<span class="material-icons">arrow_right_alt</span></button>
            </div>
            <div class="col"><p>Method Overloading</p><br>                
                <button>Start<span class="material-icons">arrow_right_alt</span></button>
            </div>
            <div class="col"><p>Method Overriding</p> <br>               
                <button>Start<span class="material-icons">arrow_right_alt</span></button>
            </div>
        </div>
    </div>
    <div class="topics">
        <p>Advanced concept of OOPs</p>
        <div class="row">
            <div class="col"><p>Inheritance</p><br>             
                <button>Start<span class="material-icons">arrow_right_alt</span></button>
            </div>
            <div class="col"><p>Poly-morphism</p>  <br>              
                <button>Start<span class="material-icons">arrow_right_alt</span></button>
            </div>
        </div>
    </div>
</div>