<app-header></app-header>
<div class="container">
    <h1>Looks like you are ready for OOPs Quiz</h1>

    <div class="topics">
        <p>Super Quiz</p>
        <div class="row">
            <div class="col">
                <p id="1">Super QUIZ</p> <br>
                <button (click)="quiz(1)">Start<span class="material-icons">arrow_right_alt</span></button>
            </div>
        </div>
    </div>
    <div class="topics">
        <p>Introduction of Classes and Objects</p>
        <div class="row">
            <div class="col">
                <p id="1">Classes and Objects</p> <br>
                <button (click)="quiz(1)">Start<span class="material-icons">arrow_right_alt</span></button>
            </div>
        </div>
    </div>
    <div class="topics">
        <p>Classes and Objects: Method</p>
        <div class="row">
            <div class="col"><p id="2">Classes Methods</p> <br>               
                <button (click)="quiz(2)">Start<span class="material-icons">arrow_right_alt</span></button>
            </div>
            <div class="col"><p id="3">Method Overloading</p><br>                
                <button (click)="quiz(3)">Start<span class="material-icons">arrow_right_alt</span></button>
            </div>
            <div class="col"><p id="4">Method Overriding</p> <br>               
                <button (click)="quiz(4)">Start<span class="material-icons">arrow_right_alt</span></button>
            </div>
        </div>
    </div>
    <div class="topics">
        <p>Advanced concept of OOPs</p>
        <div class="row">
            <div class="col"><p id="5">Inheritance</p><br>             
                <button (click)="quiz(5)">Start<span class="material-icons">arrow_right_alt</span></button>
            </div>
            <div class="col"><p id="6">Polymorphism</p>  <br>              
                <button (click)="quiz(6)">Start<span class="material-icons">arrow_right_alt</span></button>
            </div>
        </div>
    </div>
</div>