@import '../base';

.mat-card{
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 5%;
    border-radius: 8%;
}

.mat-display-2{
    text-align: center;
    color: $main-color;
}

.mat-form-field{
    width: 80%;font-size: medium;padding-bottom: 0%;
width: 80%;font-size: medium;padding-bottom: 0%;
width: 80%;font-size: medium;padding-bottom: 0%;
}

.button{
    width: 25%;
    padding: 0;
    background-color: $main-color;
    color: $white;
}


.hint{
    text-align: center;
    margin-bottom: 5%;
}

.img{
    text-align: center;
    margin-bottom: 2%;
}