<ng-sidebar-container id="ngs">
    <ng-sidebar [opened]="opened" id="side">
      <button class="close-sidebar" (click)="onClose()"><span class="material-icons">close</span></button>
      <p>Topics</p>
      <ul>
        <li><a routerLink="/Quiz">Quiz</a></li>
        <li><a routerLink="/Quiz">Classes and Objects</a></li>
        <li><a routerLink="/Quiz">Polymorphism</a></li>
        <li><a routerLink="/Quiz">Inheritance</a></li>
        <li><a routerLink="/Quiz">MultiThreading</a></li>
      </ul>
    </ng-sidebar>
    <div ng-sidebar-content>
      <button class="open-sidebar" (click)="onOpen()"><span class="material-icons">
        keyboard_arrow_right</span></button>
    </div>
  </ng-sidebar-container>