<ng-sidebar-container id="ngs">
    <ng-sidebar [opened]="opened" id="side">
      <!-- <button class="close-sidebar" (click)="onClose()"><span class="material-icons">close</span></button> -->
      <p>Topics</p>
      <ul>
        <li><a routerLink="/Quiz">Introduction of Classes and Objects</a>
          <ul>
            <!-- <li><a routerLink="/Quiz">Classes and Objects</a></li>
            <li><a routerLink="/Quiz">Classes Variables</a></li> -->
            <li><a (click)="quiz('Classes and Objects')">Classes and Objects</a></li>
          </ul>
        </li>
        <li><a routerLink="/Quiz">Classes and Objects: Method</a>
          <ul>
            <!-- <li><a routerLink="/Quiz">Classes Methods</a></li>
            <li><a routerLink="/Quiz">Method Overloading</a></li>
            <li><a routerLink="/Quiz">Method Overriding</a></li> -->
            <li><a (click)="quiz('Classes Methods')">Classes Methods</a></li>
            <li><a (click)="quiz('Method Overloading')">Method Overloading</a></li>
            <li><a (click)="quiz('Method Overriding')">Method Overriding</a></li>
          </ul>
        </li>
        <li><a routerLink="/Quiz">Advanced concept of OOPs</a>
            <ul>
              <!-- <li><a routerLink="/Quiz">Inheritance</a></li>
              <li><a routerLink="/Quiz">Polymorphism</a></li> -->
              <li><a (click)="quiz('Inheritance')">Inheritance</a></li>
              <li><a (click)="quiz('Polymorphism')">Polymorphism</a></li>
            </ul>
        </li>
      </ul>
    </ng-sidebar>
    <div ng-sidebar-content>
      <button class="open-sidebar" id="open-sidebar"  (click)="togglesidebar()"><span id="arrow-Close" style="display: none;" class="material-icons">
        keyboard_arrow_left
        </span><span id="arrow-Open" class="material-icons">
        keyboard_arrow_right</span></button>
    </div>
  </ng-sidebar-container>