<ng-sidebar-container id="ngs">
    <ng-sidebar [opened]="opened" id="side">
      <!-- <button class="close-sidebar" (click)="onClose()"><span class="material-icons">close</span></button> -->
      <!-- <p>Topics</p>
      <ul>
        <li><a>Introduction of Classes and Objects</a>
          <ul>
            <li class="lis"><a>Classes and Objects</a>
              <ul class="uls">
                <li><a (click)="quiz('Classes and Objects')">Quiz</a></li>
                <li><a (click)="quiz('Classes and Objects')">Material</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a>Classes and Objects: Method</a>
          <ul>
            <li class="lis"><a>Classes Methods</a>
              <ul class="uls">
                <li><a (click)="quiz('Classes Methods')">Quiz</a></li>
                <li><a (click)="quiz('Classes Methods')">Material</a></li>
              </ul>
            </li>
            <li><a (click)="quiz('Method Overloading')">Method Overloading</a>
              <ul class="uls">
                <li><a (click)="quiz('Method Overloading')">Quiz</a></li>
                <li><a (click)="quiz('Method Overloading')">Material</a></li>
              </ul>
            </li>
            <li><a (click)="quiz('Method Overriding')">Method Overriding</a>
              <ul class="uls">
                <li><a (click)="quiz('Method Overriding')">Quiz</a></li>
                <li><a (click)="quiz('Method Overriding')">Material</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a>Advanced concept of OOPs</a>
            <ul>
              <li><a (click)="quiz('Inheritance')">Inheritance</a>
                <ul class="uls">
                  <li><a (click)="quiz('Inheritance')">Quiz</a></li>
                  <li><a (click)="quiz('Inheritance')">Material</a></li>
                </ul>
              </li>
              <li><a (click)="quiz('Polymorphism')">Polymorphism</a>
                <ul class="uls">
                  <li><a (click)="quiz('Polymorphism')">Quiz</a></li>
                  <li><a (click)="quiz('Polymorphism')">Material</a></li>
                </ul>
              </li>
            </ul>
        </li>
      </ul> -->

      <!-- Menu Start -->
<button mat-button [matMenuTriggerFor]="topic">Topics</button>
<!-- Main Topics -->
<mat-menu #topic="matMenu" opened="true">
  <button mat-menu-item [matMenuTriggerFor]="ico">Introduction of Classes and Objects</button>
  <button mat-menu-item [matMenuTriggerFor]="cobm">Classes and Objects: Method</button>
  <button mat-menu-item [matMenuTriggerFor]="acoop">Advanced concept of OOPs</button>
</mat-menu>
<!-- First Subtopic -->
<mat-menu #ico="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="co">Classes and Objects</button>
</mat-menu>

<mat-menu #co="matMenu">
  <button mat-menu-item >Quiz</button>
  <button mat-menu-item [matMenuTriggerFor]="co_m">Materials</button>
</mat-menu>

<mat-menu #co_m="matMenu">
  <button mat-menu-item>Pdf Materials</button>
  <button mat-menu-item>Video Materials</button>
</mat-menu>

<!-- Second Subtopic -->
<mat-menu #cobm="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="cm">Classes Methods</button>
  <button mat-menu-item [matMenuTriggerFor]="mol">Method Overloading</button>
  <button mat-menu-item [matMenuTriggerFor]="mor">Method Overriding</button>
</mat-menu>

<mat-menu #cm="matMenu">
  <button mat-menu-item >Quiz</button>
  <button mat-menu-item [matMenuTriggerFor]="cm_m">Materials</button>
</mat-menu>

<mat-menu #cm_m="matMenu">
  <button mat-menu-item>Pdf Materials</button>
  <button mat-menu-item>Video Materials</button>
</mat-menu>

<mat-menu #mol="matMenu">
  <button mat-menu-item >Quiz</button>
  <button mat-menu-item [matMenuTriggerFor]="mol_m">Materials</button>
</mat-menu>

<mat-menu #mol_m="matMenu">
  <button mat-menu-item>Pdf Materials</button>
  <button mat-menu-item>Video Materials</button>
</mat-menu>

<mat-menu #mor="matMenu">
  <button mat-menu-item >Quiz</button>
  <button mat-menu-item [matMenuTriggerFor]="mor_m">Materials</button>
</mat-menu>

<mat-menu #mor_m="matMenu">
  <button mat-menu-item>Pdf Materials</button>
  <button mat-menu-item>Video Materials</button>
</mat-menu>

<!-- Third Subtopic -->
<mat-menu #acoop="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="in">Inheritance</button>
  <button mat-menu-item [matMenuTriggerFor]="poly">Polymorphism</button>
</mat-menu>

<mat-menu #in="matMenu">
  <button mat-menu-item >Quiz</button>
  <button mat-menu-item [matMenuTriggerFor]="in_m">Materials</button>
</mat-menu>

<mat-menu #in_m="matMenu">
  <button mat-menu-item>Pdf Materials</button>
  <button mat-menu-item>Video Materials</button>
</mat-menu>

<mat-menu #poly="matMenu">
  <button mat-menu-item >Quiz</button>
  <button mat-menu-item [matMenuTriggerFor]="poly_m">Materials</button>
</mat-menu>

<mat-menu #poly_m="matMenu">
  <button mat-menu-item>Pdf Materials</button>
  <button mat-menu-item>Video Materials</button>
</mat-menu>
<!-- Menu Over -->
    </ng-sidebar>
    <div ng-sidebar-content>
      <button class="open-sidebar" id="open-sidebar"  (click)="togglesidebar()"><span id="arrow-Close" style="display: none;" class="material-icons">
        keyboard_arrow_left
        </span><span id="arrow-Open" class="material-icons">
        keyboard_arrow_right</span></button>
    </div>
  </ng-sidebar-container>