@import '../base';
.container{
    width: 70%;
    max-width: 1200px;
    margin: 20px auto 0;
    padding: 40px;
    color: $main-color;
    background-color: $white;
    text-align: center;
}

.para{
    width: fit-content;
    margin: 0 auto;
    p:nth-of-type(1){
        font-size: 5em;
        letter-spacing: 0.2;
        font-family: $heading2-font;
    }
    .row{
        height: fit-content;
        display: flex;
        align-items: center;
        margin: 40px auto 0;
        p{
            font-size: 2em;
            font-style: italic;
            margin-left: 40px;
        }
        mat-icon{
            font-size: 4em;
        }
    
    }
    p:nth-of-type(2){
        font-size: 2em;
        margin-top: 20px;
    }
}

form{
    font-family: $content-font;

    .first-input-fields{
        margin-top: 40px;
        display: flex;
        justify-content: center;
        mat-form-field{    width: calc(75% / 2) ;}
        mat-form-field + mat-form-field{
            margin-left: 5px;
        }
        
    }

    .input-fields{
        display: block;
        width: 75%;
        margin: 0 auto;
    }
    textarea{
        resize: none;
        height: 100px;
    }
    button{ 
        font-family: $content-font;
        color: $white;
        background-color: $main-color;
        width: 75%;
        font-size: 1.2rem;
    }
    button:hover{
        background-color: $white;
        color: $main-color;
    }
}
.contact-info{
    max-width: 75%;
    height: 10%;
    margin: 20px auto 0;
    font-size: 1.4em;
    line-height: 1.5;
}