<app-header></app-header>
<div class="container">
    <div class="para">
      <p>Drop a Line</p> 
      <div class="row">
        <div><mat-icon> chat_bubble_outline</mat-icon></div>
        <p>Dont't hesitate to contact us</p>
      </div>
      <p>Ready for offers and cooperation</p>        
    </div>
    <!-- <div class="mat-headline" style="margin-top: 2%; margin-bottom: 0%;">
      Phone: (91)12234 56478
    </div>
  
    <div class="mat-headline">
      <p>Email: Iwanttorock@gmail.com</p>
    </div> -->
    
    
    <form  [formGroup]="contactus" (ngSubmit)="onSubmit()">
      <div class="first-input-fields">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input id="name" matInput placeholder="Name" formControlName="name" [ngClass]="{ 'is-invalid': submitted }" [(ngModel)]="credentials.name">
          <mat-icon matSuffix style="color: #0079D7;">person</mat-icon>
        </mat-form-field> 
        <mat-form-field appearance="outline">
          <mat-label>Phone</mat-label>
          <input matInput type="tel" formControlName="phone" placeholder="Phone" value=" " [(ngModel)]="credentials.phone">
          <mat-icon matSuffix style="color: #0079D7;">phone</mat-icon>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline" class="input-fields">
          <mat-label>Email</mat-label>
          <input id="email" matInput type="email" placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" [(ngModel)]="credentials.email">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <mat-hint *ngIf="f.email.errors.required" style="color: red;">Email is required</mat-hint>
              <mat-hint *ngIf="f.email.errors.email" style="color: red;">Email must be a valid email address</mat-hint>
        </div>
        <mat-icon matSuffix style="color: #0079D7;">email</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-fields">
          <mat-label>Message</mat-label>
          <textarea matInput formControlName="message" [ngClass]="{ 'is-invalid': submitted && f.message.errors }" [(ngModel)]="credentials.message"></textarea>
          <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
              <mat-hint *ngIf="f.message.errors.required" style="color: red;">Type message you want to give us</mat-hint>
          </div>
          <mat-icon matSuffix style="color: #0079D7;">message</mat-icon>
      </mat-form-field>
      
        <div>
          <button mat-raised-button type="submit">Send Message</button>
        </div>
    </form>

  <div class="contact-info">
    <p>How to Find Us?</p>
    <p>If you have any questions, just fill in the contact form, and we will answer you shortly. If you live in mumbai, you can visit to our headquarter DBIT, Kurla west.</p>
    <p> Telephone: 01234-56789</p>
    <p> Email: wewillrock@gmail.com</p>
  </div>

</div>
<app-sidebar></app-sidebar>
<app-fab></app-fab>