<app-header></app-header>
<div class="activity-container">
    <div class="myActivity">
        <h1>My Activity</h1>
        <div class="row">
            <div class="col">
                <div class="image">
                    <span class="material-icons">check_circle_outline</span>
                </div>
                <div class="data">
                    <p>10</p>
                    <p>Quiz attempted</p>
                </div>
            </div>
            <div class="col">
                <div class="image">
                    <span class="material-icons">rotate_left</span>
                </div>
                <div class="data">
                    <p>3 days ago</p>
                    <p>Last attempted</p>
                </div>
            </div>
        </div>
    </div>
    <div class="tableContainer">
        <h1>My Past Quizes</h1>

        <div class="table">
            <mat-table #table matSort [dataSource]="dataSource">

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <mat-header-cell mat-sort-header *matHeaderCellDef> No. </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="Topic">
                  <mat-header-cell mat-sort-header *matHeaderCellDef> Topic </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.Topic}} </mat-cell>
                </ng-container>
            
                <!-- Score Column -->
                <ng-container matColumnDef="Score">
                  <mat-header-cell mat-sort-header *matHeaderCellDef> Score </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.Score}} </mat-cell>
                </ng-container>
            
                <!-- Date Column -->
                <ng-container matColumnDef="Date">
                  <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.Date}} </mat-cell>
                </ng-container>
            
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            
              <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
              </mat-paginator>
        </div>
    </div>
</div>