<app-header></app-header>
<div class="diagram">
  <img src="../../assets/metacog_Diagram.jpg" alt="MetaCognition Components" />
  <br />
  <small>Fig. Components of Metacognition</small>
  <p>
    Metacognition is a broad area in itself. Metacognition is further classified
    into 2 categories as Metacognitive Knowledge and Metacognitive
    Regulation. Metacognition is essential to successful learning because it
    enables individuals to better manage their cognitive skills and to determine
    weaknesses that can be corrected by constructing new cognitive skills.
    Almost anyone who can perform a skill is capable of metacognition – that is,
    thinking about how they perform that skill. Recent research indicates that
    metacognitively aware learners are more strategic and perform better than
    unaware learners, allowing individuals to plan, sequence, and monitor their
    learning in a way that directly improves performance. Knowledge about
    cognition corresponds to what students know about themselves, strategies,
    and conditions under which strategies are most useful. Declarative,
    procedural, and conditional knowledge can be thought of as the building
    blocks of conceptual knowledge. Regulation of cognition corresponds to
    knowledge about the way students plan, implement strategies, monitor,
    correct comprehension errors, and evaluate their learning.
  </p>
</div>
